# --- SECRETS ---
.env
.env.*
secrets.json

# --- PYTHON / POETRY ---
__pycache__/
*.py[cod]
.venv/
venv/
.python-version
poetry.lock

# --- DADES ---
# Ignorem els CSVs de dades per no col·lapsar el repositori
*.csv

# --- IDEs ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db

# --- STUFF ---
.docs/